<div class="bg-gray-100" routerLink="/userProfile">
  <div class="max-w-md mx-auto mt-10 bg-white rounded p-6 shadow-md">
    <h2 class="text-2xl font-bold mb-6">User Profile</h2>

    <div class="mb-4">
      <label class="block text-gray-700 font-bold mb-2" >Full Name:</label>
      <div class="px-3 py-2 border border-gray-300 rounded bg-gray-50">
        {{profileData.fullName}}
      </div>
    </div>

    <div class="mb-4">
      <label class="block text-gray-700 font-bold mb-2" >Email:</label>
      <div class="px-3 py-2 border border-gray-300 rounded bg-gray-50">
        {{profileData.email}}
      </div>
    </div>

    <div class="mb-4">
      <label class="block text-gray-700 font-bold mb-2" >Mobile Number:</label>
      <div class="px-3 py-2 border border-gray-300 rounded bg-gray-50">
        {{profileData.mobile}}
      </div>
    </div>

    <div class="mb-4">
      <label class="block text-gray-700 font-bold mb-2">User Role:</label>
      <div class="px-3 py-2 border border-gray-300 rounded bg-gray-50">
        {{profileData.userRole}}
      </div>
    </div>
  </div>
</div>
